# ===============================
# Python
# ===============================
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.log

# ===============================
# Virtual Environments
# ===============================
venv/
.env
.env.*
.envrc

# ===============================
# IDE / Editor
# ===============================
.vscode/
.idea/
*.swp
*.swo

# ===============================
# macOS
# ===============================
.DS_Store

# ===============================
# Docker
# ===============================
*.pid
docker-data/